DB_URL=jdbc:postgresql://db:5432/occtet_boc
DB_USERNAME=occtetuser
DB_PASSWORD=q3ik4ul5snmzd87w34zfn5
FRONTEND_BASE_URL=https://boc.yourcompany.com
KEYCLOAK_ISSUER_URI=https://auth.yourcompany.com/realms/master
KEYCLOAK_CLIENT_ID=occtet-frontend-client
KEYCLOAK_CLIENT_SECRET=...
ORT_BASE_URL=https://ort.yourcompany.com
ORT_TOKEN_URL=https://auth.yourcompany.com/realms/master/protocol/openid-connect/token
ORT_USERNAME=ort-service-account
ORT_PASSWORD=replace_with_secure_ort_password
OLLAMA_BASE_URL=http://ollama:11434/
OLLAMA_MODEL=qwen3:8b
PROJECT_DATA_PATH:home/occtet/project_data
HTTPS_CA_CERT_PATH=home/occtet/occtet-nats/cacerts