#version: '0.3.3'
services:
    db:
        image: pgvector/pgvector:pg17-trixie
        command: -c 'max_connections=200'
        container_name: db
        ports:
        - "5439:5432"
        environment:
        - POSTGRES_USER=occtetuser
        - POSTGRES_PASSWORD=vrcn4xerj8u3n587niuhrfwe87zgf345osidhfoiesrf4dtdz3e85u9
        - POSTGRES_DB=occtet_boc
        - PGDATA=/data/postgresql
        volumes:
        - db_data:/data/postgresql
        - ./init-postgresql-db.sql:/docker-entrypoint-initdb.d/init-postgresql-db.sql
        networks:
        - mynet

    nats:
        image: nats:latest
        container_name: nats
        restart: always
        #ports:
        #- "4222:4222"
        #- "8222:8222"
        volumes:
          - nats_data:/data/jetstream
          - ./nats.conf:/etc/nats/nats.conf
        command: [ "-c", "/etc/nats/nats.conf" ]
        networks:
        - mynet

    ollama:
        image: ollama/ollama:latest
        ports:
        - "11434:11434"
        volumes:
        - ollama_data:/root/.ollama
        networks:
        - mynet

    frontend:
      image: occtet-boc-frontend:latest
      ports:
        - "8090:8090"
      volumes:
        - /home/occtet/project_data:/project_data
      depends_on:
        - db
        - nats
      networks:
        - mynet

    licensematcher-service:
      image: occtet-nats-licensematcher-service:0.3.2-SNAPSHOT
      depends_on:
        - frontend
        - db
        - nats
      networks:
        - mynet

    ai-copyrightfilter-service:
      image: occtet-nats-ai-copyrightfilter-service:0.3.2-SNAPSHOT
      depends_on:
        - frontend
        - ollama
        - db
        - nats
      networks:
        - mynet

    copyrightfilter-service:
      image: occtet-nats-copyrightfilter-service:0.3.2-SNAPSHOT
      depends_on:
        - frontend
        - db
        - nats
      networks:
        - mynet

    foss-report-service:
      image: occtet-nats-foss-report-service:0.3.2-SNAPSHOT
      depends_on:
        - frontend
        - db
        - nats
      networks:
        - mynet

    vulnerability-service:
      image: occtet-nats-vulnerability-service:0.3.2-SNAPSHOT
      depends_on:
        - frontend
        - db
        - nats
      networks:
        - mynet

    ai-licensematcher-service:
      image: occtet-nats-ai-licensematcher-service:0.3.2-SNAPSHOT
      depends_on:
        - ollama
        - frontend
        - nats
      networks:
        - mynet

    spdx-service:
      image: occtet-nats-spdx-service:0.3.2-SNAPSHOT
      depends_on:
        - frontend
        - db
        - nats
      networks:
        - mynet

    download-service:
      image: occtet-nats-download-service:0.3.2-SNAPSHOT
      depends_on:
        - frontend
        - db
        - nats
      volumes:
        - /home/occtet/project_data:/project_data
      networks:
        - mynet

    spdx-export-service:
      image: occtet-nats-spdx-export-service:0.3.6-SNAPSHOT
      depends_on:
        - frontend
        - db
        - nats
      networks:
        - mynet

volumes:
  db_data:
    external: true
  nats_data:
    external: true
  ollama_data:
    external: true


networks:
  mynet:
    driver: bridge

